@import "../../../../theme/color/index.scss";
@import "../../../../theme/font/index.scss";

.user_dashboard {
  width: 100%;
  .userdashboard_banner {
    background-image: url("../../../../assest/images/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
    position: relative;
    h1 {
      margin-bottom: 0;
      position: relative;
      z-index: 1;
      line-height: 75px;
      font-size: 68px;
      color: #fff;
      font-weight: $TextWeight;
      text-transform: capitalize;
      text-align: center;
      font-family: $FontFmaily;
    }
  }
  .nested_userDashboard {
    width: 90%;
    margin: 20px auto;
    .empty_msg h1{
       font-weight: 300;
       text-align: center;
       margin: 20px 0px;
    }
    .user_dashboard_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      align-items: center;
      button, a {
        width: 220px;
        border: 1px solid gray;
        padding: 14px;
        margin-bottom: 0.5rem;
        font-size: $BigText;
        font-family: $FontFmaily;
        text-decoration: none;
        text-align: center;
        color: $Blackolor;
      }
    }
    .prod_details {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      div {
        display: block;
        overflow: hidden;
        position: relative;
        padding: 15px;
        margin: 1em 0;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ddd;
      }
      .total_cost, .total_purchase, .total_delivered, .total_delivered, .total_canceled {
        .amount {
          text-align: center;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          h4 {
            display: block;
            font-size: 28px;
            font-weight: 600;
          }
        }
        .bottom_section {
          padding: 10px 0 0;
          margin-top: 10px;
          color: #aaa;
          font-size: 12px;
          border-top: 1px solid #eee;
          display: flex;
          gap: 14px;
          align-items: center;
        }
      }

    }
    .all_orders{
        h1{
            font-size: $SubHeading;
             font-weight: $TextWeight;
            margin: 20px 0px;     
        }
    }
    .tableBody_section{
      .styled_details a{
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
        cursor: pointer;
        padding: 12px;
        text-decoration: none;
        border-radius: 4px;
      }
    }
  }
}
