@import "../../../../theme/color/index.scss";
@import "../../../../theme/font/index.scss";
.wishlist_section{
     width: 100%;
     .banner_wishList{
        background-image: url("../../../../assest/images/banner1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 80px 0;
        position: relative;
        h1 {
          margin-bottom: 0;
          position: relative;
          z-index: 1;
          line-height: 75px;
          font-size: 68px;
          color: #fff;
          font-weight: $TextWeight;
          text-transform: capitalize;
          text-align: center;
          font-family: $FontFmaily;
        }
     }
     .heading_noitem, .heading_wishList{
      width:  90%;
      margin: 40px auto;
      div{
        display: flex;
        justify-content: center;
        
      }
      h2{
        font-weight: $TextWeight;
        text-transform: capitalize;
        text-align: center;
        font-family: $FontFmaily;
      }
      a{
        margin: 20px 0px;
    min-width: 130px;
    padding: 11px 20px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    transition: all .3s ease-in-out;
    color: #000;
    border: 1px solid black;
    text-decoration: none;
      }
     }
    .nested_wishList{
        width: 90%;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px, 280px));
        gap: 20px;
       .prod_box{
        width: 350px;
        max-width: 100%;
        position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
           .product_img{
            img{
                width: 100%;
            }
           }
           .remve_item{
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #fff;
            padding: 6px;
            cursor: pointer;
              svg{
                color: #dc3545!important;
                font-family: 100 !important;
              }
           }
           .prod_content{
            h5{
                text-align: center;
                font-family: $FontFmaily;
                font-weight: $TextWeight;
                margin-bottom: 14px;

           a{
            font-size: 14px;
            text-transform: capitalize;
            color: #000;
            text-decoration: none !important;
           }
            }
            h3{
                color: #808080;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none !important;
    transition: all 0.25s ease-in-out;
    margin-bottom: 14px;
    //             a{
    // text-decoration: none !important;
    // transition: all 0.25s ease-in-out;
    
    //             }
            }
            .prod_button{
                display: flex;
                justify-content: center;
                button, a{
                    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
       outline: none;
       border: none;
       font-size: $BigText;
       cursor: pointer;
      text-decoration: none;
                }
            }
            
           }
     &:hover{
        box-shadow: 0 0 10px rgb(0 0 0 / 15%);
     }
       }

    // @media (max-width:1024px) {
      
    // }

    }
}