$MainColor: #6f5948;
$ErrorBorderColor: red;
$WiteColor: #fff;
$BackGroundColorBanner: #74747400;
$Blackolor: #000000ad;
$ThemeTextColor: #3A3A3A;
$GrayColor: #777777;
$YellowCOlor: #f5b223;
$Link_COLOR: #b99b85;
$pageBgColor: #FAFAFA;

